{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <h1>You don't have permission to do that(401)</h1>
        <p>Maybe you are doing something sus.</p>
        <div class="tenor-gif-embed" data-postid="7755460" data-share-method="host" data-width="100%" data-aspect-ratio="1.3333333333333333"><a href="https://tenor.com/view/rickroll-dance-funny-you-music-gif-7755460">
            Rickroll Dance GIF</a> from <a href="https://tenor.com/search/rickroll-gifs">Rickroll GIFs</a>
        </div>
        <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </div>
{% endblock content %}